@model Nop.Plugin.Widgets.GoDaddyApi.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsGoDaddyApi" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Nop.Plugins.Widgets.GoDaddyApi.ConfigurationTitle")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="RootPath_OverrideForStore" asp-input="RootPath" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="RootPath" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="RootPath" />
                        <span asp-validation-for="RootPath"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="RootPathSandBox_OverrideForStore" asp-input="RootPathSandBox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="RootPathSandBox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="RootPathSandBox" />
                        <span asp-validation-for="RootPathSandBox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SandBox_OverrideForStore" asp-input="SandBox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SandBox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SandBox" />
                        <span asp-validation-for="SandBox"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccessKey_OverrideForStore" asp-input="AccessKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccessKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccessKey" />
                        <span asp-validation-for="AccessKey"></span>
                    </div>
                </div>

                 <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SecretKey_OverrideForStore" asp-input="SecretKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SecretKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretKey" />
                        <span asp-validation-for="SecretKey"></span>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>