@model Nop.Plugin.Misc.ProductWizard.Models.ProductExtModel
<link href="~/lib/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />
<link href="~/lib/kendo/2014.1.318/kendo.default.min.css" rel="stylesheet" />
<link href="~/lib/kendo/2014.1.318/kendo.default.mobile.min.css" rel="stylesheet" />

@*<link href="~/lib/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/2014.1.318/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/2014.1.318/kendo.rtl.min.css" rel = "stylesheet" />
    <script src="~/lib/kendo/2014.1.318/kendo.web.min.js"></script>*@
@{

    //    Layout = "~/admin/Views/Shared/_AdminLayout.cshtml";
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}

<div>
    <div class="title"><strong>Parts for this Item </strong><br /></div>

    @*@if (Model.IsCopier != true)
    {*@
        <div class="details">
            <h4 class="product-title">
                @foreach (var item in Model.PartForItem)
                {


                    if (item != Model.PartForItem[Model.PartForItem.Count - 1])
                    {
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })">@item.ProductName, </a>
                    }
                    else
                    {

                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })">@item.ProductName</a>
                    }

                }
            </h4>
        </div>
    @*}
    else
    {*@
        <div class="order-summary-content">
            <div class="table-wrapper">
                <div class="mobile-only">
                    @if (Model.CategoryModel.Count > 0)
                    {

                        <div id="listView">
                            <div class="details">
                                <h4 class="product-title">
                                    @foreach (var item in Model.CategoryModel)
                                    {

                                        if (item != Model.CategoryModel[Model.CategoryModel.Count - 1])
                                        {
                                            <a href="@item.CatergorySeo">@item.CatergoryName, </a>
                                        }
                                        else
                                        {

                                            <a href="@item.CatergorySeo">@item.CatergoryName </a>
                                        }

                                    }
                                </h4>
                            </div>
                        </div>
                    }
                </div>
                <div class="screen-only">
                    <div id="categories-grid"></div>

                    <script>
                        $(document).ready(function () {

                            @*$("#listView").kendoListView({
                             dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                         url: "@Html.Raw(Url.Action("PartsForThisItemList", "PartsForItem"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                    }
                                }
                            },
                             template: '<a href="#:CatergorySeo#">#=CatergoryName#</a> '
                            });*@



                        $("#categories-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                         url: "@Html.Raw(Url.Action("PartsForThisItem", "PartsForItem"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            ThumbImageUrl: { editable: false },
                                            Category: { editable: false },
                                            ProductName: { editable: false },
                                            PartNumber: { editable: false },
                                            Manufacturer: { editable: false },
                                            Price: { editable: false },
                                            Qty: { editable: true, type: "number", validation: { required: true, min: 1 } },
                                            Id: { editable: false, type: "number" },
                                            SeName: { editable: false },
                                            CategorySeo: { editable: false },
                                            OutOfStock: { editable: false, type:"bool" },
                                        }
                                     }
                                },
                                 error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true,
                                    group: { field: "Category", template: '<a href="#:CategorySeo#">#=Category#</a>' },
                            },
                            scrollable: false,
                            editable: "inline",
                            pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @Html.Partial("_GridPagerMessages")
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "ThumbImageUrl",
                                            title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                            template: '<a href="/#:NewSeName#"><img src="#=ThumbImageUrl#" /></a>',

                                },
                                {
                                    field: "ProductName",
                                    title: "Name",
                                    template: '<a href="/#:NewSeName#">#:ProductName#<br><span class="item_details_link_info"><img src="/images/magnify_plus.gif" alt="view details"> view details...</span> </a> '
                                },
                                {
                                    field: "PartNumber",
                                    title: "Part #",
                                },
                                {
                                    field: "Manufacturer",
                                    title: "Manufacturer",
                                },
                                {
                                    field: "Category",
                                    title: "Category",
                                    template: '<a href="#:CategorySeo#">#=Category#</a>',
                                },
                                {
                                    field: "Price",
                                    title: "Price",
                                    format: "{0:c}",
                                    attributes: { style: "text-align:right" },
                                }, {
                                    field: "Qty",
                                    title: "Qty",
                                    attributes: { style: "text-align:right" },
                                    width: 75,
                                    template:'<table  border="1"><tr><td style="border-collapse: collapse;border: 1px solid black;">#:Qty#</td></tr></table>'

                                },  {
                                    field: "Id",
                                    title: "Buy Now",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if (OutOfStock) { #<input class="btn btn-xs btn-default" type="image" src="/images/call_button.gif"># } else { # <a class="btn btn-xs btn-default" href="\\#" onclick="rowclick(this);"  title="Edit">&nbsp;<input type="image" class="addToCartbutton" id="addToCartbutton" src="/images/add-btn-small.png"></a># } #',
                                    attributes: { style: "text-align:center" },
                                   // template: '<table width="20%" style="border: none 0px;"><tbody><tr><td style="border: none 0px;">Qty.<br /><input id="cartQty" name="cartQty" class="cartQty" value="1" type="number"  style="width:30px"> </td><td style="border: none 0px;"><br /><input type="image" class="addToCartbutton" id="addToCartbutton" src="/images/add-btn-small.png" onclick="rowclick(this);" ></td></tr></tbody></table>'
                                },
                                //{
                                //        field: "Id",
                                //        title: "",
                                //        width: 100,
                                //        headerAttributes: { style: "text-align:center" },
                                //        attributes: { style: "text-align:center" },
                                //        template: '<a class="btn btn-default" href="Edit/#=Id#"><img src= "/images/add-btn-small.png" /></a>'
                                //    }
                            ],
                            editable: true
                        });




                    $("#categorieseeee-grid").on("click", ".addToCartbutton", function (e) {
                         e.preventDefault();
                        //var grid = $("#categories-grid").data("kendoGrid");
                        //var selectedItem = grid.dataItem(grid.select());
                        //alert(selectedItem.Price);
                         var row = $(this).closest("tr");
                         var spans = row.find("cartQty");
                         alert(spans);
                        var row = $(e.target).closest("tr");
                        var grid = $("#categories-grid").data("kendoGrid");
                        var dataItem = grid.dataItem(row);
                        alert(dataItem.Price);

                    });




                });




            function rowclick(sender) {
                var grid = $('#categories-grid').data('kendoGrid');

                if (grid) {
                    var data = grid.dataItem($(sender).closest("tr"));
                    if (data) {
                      //  alert("You clicked " + data.Qty + " for Id : " + data.Id);
                        //AjaxCart.addproducttocart_catalog(productId);
                        //AjaxCart.addproducttocart_details('/addproducttocart/details/'++'/1', '#product-details-form')
                        // addtocartlink = 'Url.RouteUrl("AddProductToCart-Catalog", new { productId = data.Id, shoppingCartTypeId = 1, quantity = data.Qty, forceredirection = false})';

                        // alert(addtocartlink);

                        var productId = data.Id;
                        var shoppingCartTypeId = 1;
                        var quantity = data.Qty;
                        var forceredirection = false
                        //alert(data.Qty);
                        var url = '/ShoppingCart/AddProductToCart_Catalog?productId='+data.Id+'&shoppingCartTypeId=1&quantity=' + data.Qty+'&forceredirection=false';
                      //  alert(url);
                        $.ajax({
                            cache: false,
                            url: url,
                            type: 'post',
                            success: function (result) {
                                //alert('product added');
                            },
                            complete: function (result) { },
                            error: function (result) { /*alert('error adding product to shopping cart');*/}
                        });

                    }
                    else
                        alert("Why isn't my row selected!");
                }


            };
                function additionalData()
                {
                    var data = {
                                id: '@Model.Id'
                            };
            addAntiForgeryToken(data);
            return data;
                            }
                    </script>
                </div>
            </div>
        </div>
    @*//}*@
    <br />
</div>
