@model SocialModel


<div class="social-links">
    <ul>
        @if (!string.IsNullOrEmpty(Model.FacebookLink))
        {
            <li class="facebook"><a class="fa fa-facebook" href="@Model.FacebookLink" target="_blank"> </a></li>}
        @if (!string.IsNullOrEmpty(Model.TwitterLink))
        {
           <li class="twitter"><a class="fa fa-twitter" href="@Model.TwitterLink" target="_blank"> </a></li>}
        @*@if (Model.NewsEnabled)
        {
            <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })"></a></li>}*@
        @if (!string.IsNullOrEmpty(Model.YoutubeLink))
        {
            <li class="youtube"><a class="fa fa-youtube"  href="@Model.YoutubeLink" target="_blank"> </a></li>}
        @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
        {
            <li class="google"><a class="fa fa-google-plus" href="@Model.GooglePlusLink" target="_blank"> </a></li>}
     
    </ul>
</div>

 